*,
*::after,
*::before,
* > * {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

p{
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Assistant", sans-serif;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #f6f8fa;
  color: #192e46;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  color: #ffffff;
  background: #fb775a;
}
:focus {
  outline: none;
}
.mobile-view-header-right{
  display: none;
}
#header {
  background-color: lightgrey;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.header-left > :first-child {
  margin: auto 0px;
  width: 80px;
  padding: 15px 10px;
}
.header-right {
  display: flex;
}
.header-right > :nth-child(1) {
  color: brown;
}
.header-right p {
  margin: auto 0px;
  padding: 0px 10px;
}
.header-right img {
  margin: auto 0px;
  width: auto;
  height: 20px;
  padding: 0px 10px;
}
.header-image {
  width: 100%;
  height: auto;
}
#shop-category {
  margin: 20px 30px;
}
.shop-text {
  text-align: center;
}
.shop-text > :nth-child(1) {
  font-family: Pacifico, cursive;
}
.shop-text > :nth-child(2) {
  margin: auto;
  font-size: 22px;
  font-family: sans-serif;
}
.shop-images {
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
}
.images-div {
  border-radius: 1.5rem;
  box-shadow: 2px 5px 7px #ccc;
  padding: 20px;
  margin: 20px;
}
.images-div img {
  height: 60px;
  width: 65px;
}
.images-div p {
  text-align: center;
  font-family: sans-serif;
}
.arrows1 {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.arrow1 {
  width: 0px;
  height: 0px;
  margin-right: 15px;
  border-top: 20px solid transparent;
  border-right: 20px solid #b19f8e;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.arrow2 {
  justify-content: center;
  width: 0px;
  height: 0px;
  margin-left: 15px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #653f1c;
}
#featured-products {
  margin-top: 100px;
  background-image: url(images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.popular > :first-child {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-family: Pacifico, cursive;
  font-size: 16px;
}
.popular > :last-child {
  color: white;
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
}
.products {
  margin: 30px 30px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;
}
.product-images {
  border-radius: 1rem;
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 140px;
  height: 140px;
}
.product-info {
  padding: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
}
.price-tag {
  margin: 10px;
  width: 80%;
}
.arrows2 {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.arrow3 {
  width: 0px;
  height: 0px;
  margin-right: 15px;
  border-top: 20px solid transparent;
  border-right: 20px solid #b19f8e;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.arrow4 {
  width: 0px;
  height: 0px;
  margin-left: 15px;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
}
.pet-sale {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0px;
  justify-content: center;
}
.pet-sale > :first-child {
  margin: 25px 15px;
  width: 750px;
  height: auto;
}
.pet-sale > :last-child {
  margin: 25px 15px;
  width: 400px;
  height: auto;
}
.circular-images-back {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circular-images1 {
  border: 3px solid #653f1c;
  border-radius: 50%;
  position: relative;
  margin: 20px 100px;
  height: 300px;
  width: 300px;
}
.circular-images1 > div {
  padding-top: 30px;
  color: #653f1c;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid silver;
  position: absolute;
  top: -10px;
  left: 15px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.circular-images2 {
  position: relative;
  margin: 20px 100px;
  border: 3px solid #653f1c;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.circular-images2 > div {
  padding-top: 30px;
  color: #653f1c;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid silver;
  position: absolute;
  top: -10px;
  left: 15px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url(images/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.image1 {
  padding-top: 30px;
  width: 100px;
  height: 180px;
}
.image2 {
  margin-top: 50px;
  width: 200px;
  height: 100px;
}
.circular-images1 h1{
  font-size: 25px;
  margin: 0px;
  padding-top: 20px;
}
.circular-images2 h1{
  font-size: 25px;
  margin: 0px;
  padding-top: 20px;
}
#brands {
  margin-top: 100px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: auto;
}
.brands-text {
  text-align: center;
  padding-top: 20px;
}
.brands-text > :first-child {
  font-family: Pacifico, cursive;
  font-size: 16px;
}
.brands-text > :last-child {
  margin: 30px 0px;
  font-family: sans-serif;
  font-size: 22px;
}
.brands-images {
  margin: 20px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.brand-image {
  padding: 20px;
  width: 160px;
  height: 90px;
}
#news {
  overflow: hidden;
  margin: 50px auto;
}
.news-text {
  text-align: center;
}
.news-text > :first-child {
  font-family: Pacifico, cursive;
  font-size: 16px;
}
.news-text > :last-child {
  font-family: sans-serif;
  font-size: 22px;
  margin-top: -10px;
}
.news-image {
  margin: 0px auto;
  display: flex;
}
.container{
  margin: 20px;
}
.container > :first-child {
  width: 400px;
  height: 300px;
}
.container > :nth-child(2) {
  color: brown;
  font-size: 18px;
}
.container > :nth-child(3) {
  font-size: 13px;
}
.container > :last-child {
  color: brown;
  font-size: 13px;
}
.policies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.policies-container {
  text-align: center;
  font-family: sans-serif;
  border: 3px solid #653f1c;
  height: 170px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 2px 5px 7px 2px #ccc;
}
.policies-container > :first-child {
  height: 45px;
  width: auto;
}
.policies-container > :nth-child(2) {
  font-size: 18px;
  color: brown;
}
.footer-div {
  overflow: hidden;
  margin: auto 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left-side {
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
}
.left-side > :first-child {
  width: 70px;
  margin: 0px 10px;
}
.footer-div p {
  font-size: 22px;
  font-family: sans-serif;
  margin: 8px;
}
.Legal {
  font-family: sans-serif;
  width: 200px;
  padding: 5px;
}
.Useful-Links {
  font-family: sans-serif;
  width: 200px;
  padding: 5px;
}
.Contact {
  font-family: sans-serif;
  width: 300px;
  padding: 5px;
}
.head {
  font-size: 24px;
  color: brown;
}
.end {
  text-align: center;
}
.input-with-icons {
  margin-top: 20px;
  display: flex;
  overflow: hidden;
  height: 40px;
  border-radius: 3rem;
  padding: 3px 10px;
  background-color: #653f1c;
}
.input {
  flex: 1;
  font-size: 14px;
  display: flex;
}
.input input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
}
::placeholder {
  color: grey;
  opacity: 1;
}
.iconn img {
  height: 30px;
}
@media screen and (max-width: 480px) {
  .header-left > :first-child {
    margin: auto 0px;
    width: 45px;
    padding: 8px 8px;
  }
  .header-right{
    display: none;
  }
  .circular-images1 {
    margin: 40px 20px;
    height: 200px;
    width: 200px;
  }
  .circular-images1 > div {
    height: 200px;
    width: 200px;
    top: -5px;
  left: 8px;
  }
  .circular-images2 {
    margin: 40px 20px;
    height: 200px;
    width: 200px;
  }
  .circular-images2 > div {
    height: 200px;
    width: 200px;
    top: -5px;
  left: 8px;
  }
  .image1 {
    margin-top: -10px;
    width: 75px;
    height: 130px;
  }
  .image2 {
    margin-top: 30px;
    width: 130px;
    height: 75px;
  }
  .circular-images1 h1{
    font-size: 18px;
    margin: 0px;
    padding-top: 5px;
  }
  .circular-images2 h1{
    font-size: 18px;
    margin: 0px;
    padding-top: 5px;
  }
  .pet-sale > :first-child {
    margin: 15px 15px;
    width: 75vw;
    height: auto;
  }
  .pet-sale > :last-child {
    margin: 15px 15px;
    width: 40vw;
    height: auto;
  }
.mobile-view-header-right{
  display: flex;
}  
.left-side{
  width: 100%;  
}
.Legal{
  width: 100%;
}
.Useful-Links{
  width: 100%;
}
.Contact{
  width: 100%;
}
}