@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat, sans-serif;
}

.language-bar {
  display: flex;
  justify-content: space-between;
}
.open-nav-box {
  width: 4.5vw;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-icon4 {
  width: 3vw;
  height: 1vw;
  position: relative;
}
#nav-icon4 span:nth-child(1) {
  top: 1.5vh;
}
#nav-icon4 span:nth-child(2) {
  top: 3vh;
}
#nav-icon4 span:nth-child(3) {
  top: 4.5vh;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 0.5vh;
  width: 3.5vw;
  background: #fff;
  border-radius: 0.09vw;
  opacity: 1;
  left: 0;
}

#main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0vw;
  left: 0vw;
  width: 100%;
}
.language-bar {
  background-color: #1d78be;
}


.introduction {
  height: 95%;
  padding-top: 13.5vh;
}

.intro-title {
  font-size: 3.5vw;
  margin-bottom: 25vh;
}

.intro-description {
  font-family: sans-serif;
  font-size: 1.8vw;
  margin-bottom: 2.5vw;
}
.we-can {
  font-family: Montserrat;
  display: flex;
}
.we-can > span:first-child {
  width: 6vw;
  background: blue;
  margin: 7% 7% 7% 0%;
  
}
#main-four-divs{
  margin-top: 80vh;
  margin-left: 6.0vw;
  padding: 2.0vw;
  display: flex;
}
.left-div{
  color: rgb(62, 66, 71);
  width: 30%;
}
.left-div > h4, h3{
  padding: 1.0vw;
}
.left-div > p{
  font-size: 1.6vw;
}
.right-div{
  width: 70%;
  color: rgb(62, 66, 71);
  margin-left: 5.0vw;
  display: flex;
}
.right-div > .first-div, .second-div, .third-div{
  width: 30vw;
  padding-left: 1.0vw;
}

.right-div > img{
  width: 15vw;
  height: 100%;
}
#splitScreen {
  margin: 10vw;
  justify-content: center;
  display: flex;
  margin-top: 70vw;
}
.text {
  width: 40%;
  margin: 3%;
}
.images {
  max-width: 60%;
  margin-right: 5.5vw;
}

#brands {
  display: flex;
}
.brand {
  background-color: rgb(28, 137, 226);
  padding: 50vw;
  width: 60vw;
  color: white;
}

#brand_logo {
  padding: 1.0vw;
  margin-top: 100vw;
}
.first-row{
  margin-left: 5.0vw;
  margin-right: 5.0vw;
}
.second-row{
  margin-left: 3.0vw;
  margin-top: 50vw;
  margin-bottom: 50vw;
  margin-right: 5.0vw;
}



#careers {
  display: flex;
  padding: 3.0vw;
  margin-top: 15.0vh;
}
.leftside {
  width: 65%;
  margin-left: 8.0vw;
  margin-right: 15.0vw;
}

.rightside {
  margin-right: 15.0vw;
}
.career-ui{
  display: flex;
  justify-content: space-between;
}

#centerdiv {
  display: flex;
  justify-content: center;
  margin-top: 10.0vw;
}
.textside {
  max-width: 25.0vw;
  background-color: white;
  width: 25vw;
} 
.imageside{
  max-width: 30vw;
}

















#about {
  display: flex;
  padding: 1.0vw;
  margin-top: 30vh;
  margin-left: 1.0vw;
}
.logo,
.address {
  width: 25vw;
  margin-left: 2.0vw;
}
.contact {
  width: 50vw;
}
.touch{
  display: flex;
}
.footer-end{
  display: flex;
  justify-content: space-between;
}
.footer-rightside{
  display: flex;
  margin-right: 5.0vw;
}